@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,500,300&subset=latin,cyrillic-ext,cyrillic);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=brandico);


[class*="brandico-"]:before {
	font-family:'brandico', sans-serif;
}
[class*="entypo-"]:before {
	font-family:'entypo', sans-serif;
}
body {
	position:relative;
	font-family:'helvetica', sans-serif;
	font-size:14px;
	color:#888;
	-webkit-font-smoothing:subpixel-antialiased;
}
h3 code {
	font-size:14px;
	font-weight:normal;
}
.pt {
	padding-top:15px;
}
h1 {
	font-size:25px;
	font-weight:normal;
	text-transform:uppercase;
	color:#777;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	line-height:35px;
	font-weight:600;
	font-family:'Open Sans', sans-serif;
}
h2 a {
	font-size:13px;
	text-transform:uppercase;
	color:#777;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	font-weight:500;
	font-family:'Open Sans', sans-serif;
}
	h2 a:hover {
		color:#F47A6D;
		text-decoration:none;
	}
.short a {
	line-height:25px;
	font-size:18px;
}
h4 a {
	font-size:14px;
	font-weight:500;
	text-transform:uppercase;
	color:#777;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	font-weight:600;
	font-family:'Open Sans', sans-serif;
}
	h4 a:hover {
		color:#F47A6D;
		text-decoration:none;
	}
h5 {
	font-size:24px;
	font-weight:200;
	text-align:center;
	color:#777;
	margin-bottom:10px;
	font-family:'Open Sans', sans-serif;
	text-transform:uppercase;
	border-bottom:1px dotted #f1f1f1;
}
	h5:before,
  h5 :after {
		content:'';
		width:100%;
		border-top:1px solid #ddd;
		margin-top:.4em;
	}
p a {
	font-size:11px;
	text-transform:uppercase;
	color:#777;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
	font-weight:500;
	font-family:'Open Sans', sans-serif;
}
	p a:hover {
		color:#F47A6D;
	}
.mb {
	margin-bottom:20px;
	padding-bottom:10px;
}
	.mb:last-child {
		margin-bottom:0px;
		border-bottom:none;
	}
.tp {
	overflow:hidden;
	height:75px;
	display:block;
	width:100%;
}
.imthumb {
	overflow:hidden;
	height:165px;
	display:block;
	width:100%;
}
.hh {
	font-weight:300;
	font-size:26px;
	text-transform:uppercase;
	margin-bottom:15px;
	color:#79C0AD;
}
body > .navbar {
	font-size:13px;
}
.navbar .brand {
	padding-right:30px;
	padding-left:0;
	padding-top:25px;
	margin-left:0px;
	color:#fff;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	transition:all .2s linear;
	font-size:25px;
	text-transform:uppercase;
	opacity:0.9999;
	font-weight:300;
	font-family:'Open Sans', sans-serif;
}
	.navbar .brand:hover {
		text-decoration:none;
		text-shadow:0 1px 0 rgba(255,255,255,.1), 0 0 15px rgba(255,255,255,.74);
	}
.jumbotron  .brand {
	padding-right:30px;
	padding-left:0;
	padding-top:25px;
	margin-left:0px;
	color:#fff;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	transition:all .2s linear;
	font-size:25px;
	text-transform:uppercase;
	opacity:0.9999;
	font-weight:300;
	font-family:'Open Sans', sans-serif;
}
.cn {
	text-align:center;
	margin:0 auto;
}
.carousel-inner {
	background-image:url("../img/223.jpg");
	position:relative;
	background-repeat:no-repeat;
	background-position:center center;
	-o-background-size:100% 100%, auto;
	-moz-background-size:100% 100%, auto;
	-webkit-background-size:100% 100%, auto;
	background-size:100% 100%, auto;
}
	.carousel-inner:after {
		content:'';
		display:block;
		position:absolute;
		top:0;
		right:0;
		bottom:0;
		left:0;
		background:rgba(0,0,0,.095);
	}
.jumbotron {
	padding:25px 0 25px 0;
	text-transform:uppercase;
	margin-bottom:25px;
	font-size:13px;
	font-family:'open sans', sans-serif;
	color:#eee;
	background-image:url("../img/22.jpg");
	font-weight:bold;
	background-repeat:no-repeat;
	background-position:center center;
	-o-background-size:100% 100%, auto;
	-moz-background-size:100% 100%, auto;
	-webkit-background-size:100% 100%, auto;
	background-size:100% 100%, auto;
}
	.jumbotron  a {
		color:#fff;
		font-size:13px;
		font-weight:bold;
		text-transform:uppercase;
		-webkit-transition:all .2s ease-in-out;
		-moz-transition:all .2s ease-in-out;
		transition:all .2s ease-in-out;
	}
	.jumbotron a:hover {
		color:#F47A6D;
	}
.jumbotron-mob {
	padding:25px 0 25px 0;
	text-transform:uppercase;
	margin-bottom:25px;
	font-size:13px;
	font-family:'open sans', sans-serif;
	color:#eee;
	background:#333;
	font-weight:bold;
	background-repeat:no-repeat;
	background-position:center center;
	-o-background-size:100% 100%, auto;
	-moz-background-size:100% 100%, auto;
	-webkit-background-size:100% 100%, auto;
	background-size:100% 100%, auto;
}
	.jumbotron-mob  a {
		color:#fff;
		font-size:13px;
		font-weight:bold;
		text-transform:uppercase;
		-webkit-transition:all .2s ease-in-out;
		-moz-transition:all .2s ease-in-out;
		transition:all .2s ease-in-out;
	}
	.jumbotron-mob a:hover {
		color:#F47A6D;
	}
	.jumbotron-mob  .brand {
		padding-right:30px;
		padding-left:0;
		padding-top:25px;
		margin-left:0px;
		color:#fff;
		-webkit-transition:all .2s linear;
		-moz-transition:all .2s linear;
		transition:all .2s linear;
		font-size:25px;
		text-transform:uppercase;
		opacity:0.9999;
		font-weight:300;
		font-family:'Open Sans', sans-serif;
	}
hr.soften {
	height:1px;
	margin:15px 0;
	background-image:-webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:-moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:-ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	background-image:-o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
	border:0;
}
.footer {
	padding:30px 0;
	margin-top:70px;
	border-top:1px solid #e5e5e5;
	background-color:#f5f5f5;
}
	.footer h4 {
		font-size:28px;
		font-weight:300;
		font-family:'open sans', sans-serif;
		text-transform:uppercase;
		color:#444;
	}
	.footer p {
		margin-bottom:0;
		color:#777;
		font-size:12px;
	}
.footer-links {
	margin:10px 0;
}
	.footer-links li {
		display:inline;
		padding:0 2px;
	}
		.footer-links li:first-child {
			padding-left:0;
		}
.footer a {
	color:#F47A6D;
	-webkit-transition:all .2s ease-in-out;
	-moz-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}
	.footer a:hover {
		color:#79C0AD;
		text-decoration:none;
	}
.carousel {
	margin-bottom:0px;
	margin-top:0px;
}
	.carousel .container {
		position:relative;
		z-index:9;
	}
.carousel-control {
	height:80px;
	margin-top:0;
	font-size:60px;
	text-shadow:0 1px 1px rgba(0,0,0,.4);
	background-color:transparent;
	border:0;
	z-index:10;
	font-weight:200;
}
.carousel .item {
	height:330px;
	margin-top:0px;
}
.carousel img {
	position:absolute;
	top:0;
	left:0;
	min-width:100%;
}
.carousel-caption {
	position:static;
	padding:80px;
	border-radius:3px;
}
.carousel-caption h1,
.carousel-caption .lead, .carousel-caption  .codeMessage {
margin:0;
color:#fff;
overflow: hidden !important;
font-weight:500;
font-family:'Open Sans', sans-serif;
-webkit-transition:all .3s linear;
-moz-transition:all .3s linear;
transition:all .3s linear;
text-transform:uppercase;
}
	.carousel-caption .btn {
		margin-top:10px;
	}
	.carousel-caption .lead {
		font-size:14px;
		padding:10px;
		margin-top:-10px;
	}
	.carousel-caption h1 a {
		color:#fff;
		text-transform:uppercase;
		font-weight:300;
		-webkit-transition:all .3s linear;
		-moz-transition:all .3s linear;
		transition:all .3s linear;
		font-size:25px;
	}
		.carousel-caption h1 a:hover {
			color:#F47A6D;
		}
.carousel1 {
	position:relative;
	line-height:1;
}
.carousel-inner1 {
	position:relative;
	overflow:hidden;
}
	.carousel-inner1 > .item {
		position:relative;
		display:none;
		-webkit-transition:0.6s ease-in-out left;
		-moz-transition:0.6s ease-in-out left;
		-o-transition:0.6s ease-in-out left;
		transition:0.6s ease-in-out left;
		margin:5px 5px 0 5px;
	}
	.carousel-inner1 > .item1 > img,
.carousel-inner1 > .item1 > a > img {
		display:block;
		line-height:1;
	}
	.carousel-inner1 > .active,
.carousel-inner1 > .next,
.carousel-inner1 > .prev {
		display:block;
	}
	.carousel-inner1 > .active {
		left:0;
	}
	.carousel-inner1 > .next,
.carousel-inner1 > .prev {
		position:absolute;
		top:0;
		width:100%;
	}
	.carousel-inner1 > .next {
		left:100%;
	}
	.carousel-inner1 > .prev {
		left:-100%;
	}
		.carousel-inner1 > .next.left,
.carousel-inner1 > .prev.right {
			left:0;
		}
		.carousel-inner1 > .active.left {
			left:-100%;
		}
		.carousel-inner1 > .active.right {
			left:100%;
		}
.carousel-control1 {
	position:absolute;
	top:30%;
	left:15px;
	width:40px;
	height:40px;
	margin-top:-20px;
	font-size:28px;
	line-height:0px;
	color:#ffffff;
	text-align:center;
	font-weight:normal;
	text-shadow:0 1px 0 #000;
}
	.carousel-control1.right {
		right:15px;
		left:auto;
	}
	.carousel-control1:hover,
.carousel-control1:focus {
		color:#F47A6D;
		text-decoration:none;
	}
.acc-rot {
	background:#7AC6B5;
	text-transform:uppercase;
	border:none;
	font-size:11px;
	color:#fff;
}
.fserch {
	border:0px;
}
.meta {
	font-size:11px;
	color:#F47A6D;
}
	.meta a {
		font-size:11px;
		color:#F47A6D;
	}
		.meta a:hover {
			color:#F47A6D;
		}
.link-title {
	text-transform:uppercase;
	font-size:13px;
	color:#777;
	font-weight:500;
	font-family:'Open Sans', sans-serif;
}
	.link-title:hover {
		color:#F47A6D;
	}
h6 {
	position:relative;
	overflow:hidden;
	font-size:24px;
	font-weight:200;
	text-align:center;
	color:#777;
	margin-bottom:10px;
	font-family:'Open Sans', sans-serif;
	text-transform:uppercase;
}
	h6 > span {
		display:inline-block;
		margin:0 .4em;
	}
		h6 > span:before,
  h6 > span:after {
			content:'';
			position:absolute;
			width:100%;
			border-top:1px solid #ddd;
			margin-top:.4em;
		}
		h6 > span:before {
			margin-left:-102%;
		}
		h6 > span:after {
			margin-left:2%;
		}
.mt {
	margin-top:25px;
}
div.wrapper {
	position:relative;
}
.wrapper img:hover {
	opacity:0.55;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
div.description {
	background-color:rgba(0, 178, 238, 0.75);
	color:white;
	font-family:'tahoma';
	font-size:15px;
	left:0px;
	position:absolute;
	top:0px;
}
div.description_content {
	padding:5px;
}
div.description8 {
	top:0px;
	color:#fff;
	font-size:16px;
	left:0px;
	position:absolute;
	font-family:'Open Sans', sans-serif;
	font-weight:300;
	text-transform:uppercase;
	background-color:rgba(0, 0, 0, 0.25);
	padding:5px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
	div.description8:hover {
		background-color:#F47A6D;
		cursor:pointer;
	}
div.description7:hover {
	background-color:#F47A6D;
	cursor:pointer;
}
div.description8 a {
	color:#fff;
}
div.description7 {
	top:0px;
	color:#fff;
	font-size:11px;
	left:0px;
	position:absolute;
	font-family:'Open Sans', sans-serif;
	font-weight:400;
	text-transform:uppercase;
	background-color:rgba(0, 0, 0, 0.25);
	padding:2px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
	div.description7 a {
		color:#fff;
	}
div.description6 {
	top:0px;
	color:#fff;
	font-size:11px;
	left:0px;
	position:absolute;
	font-family:'Open Sans', sans-serif;
	font-weight:200;
	text-transform:uppercase;
	padding:2px;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.social {
	font-size:19px;
	padding-right:5px;
}
.post-meta {
	font-size:13px;
	color:#777;
}
	.post-meta a {
		color:#79C0AD;
	}
.comm {
	min-width:60px;
	padding:10px 0;
}
.sep {
	margin-bottom:20px;
	border-bottom:1px dotted #f1f1f1;
	padding-bottom:20px;
}
	.sep:last-child {
		margin-bottom:-15px;
		border-bottom:none;
		padding-bottom:0;
	}
.sep1 {
	margin-bottom:15px;
	border-bottom:1px dotted #f2f2f2;
}
	.sep1:last-child {
		margin-bottom:0px;
		border-bottom:none;
		padding-bottom:0px;
	}
#share42 {
	display:inline-block;
}
	#share42 a {
		opacity:0.5;
	}
	#share42:hover a {
		opacity:0.7;
	}
		#share42 a:hover {
			opacity:1;
		}
	#share42 a {
		position:relative;
	}
		#share42 a span {
			display:none;
			position:absolute;
			z-index:10;
			top:0;
			left:100%;
			height:19px;
			margin-left:5px;
			padding:0 5px;
			background:#FFF;
			border-radius:4px;
			border:1px solid #AAA;
			box-shadow:0 0 5px rgba(0,0,0,0.25);
			text-align:center;
			color:#666;
			font:12px/20px Arial, sans-serif;
		}
		#share42 a:hover span {
			display:block;
		}
.sort {
	padding:7px 10px 5px 10px;
	background-color:#f7f7f7;
	height:25px;
	color:#999;
	font-size:12px;
	border-radius:2px;
	font-family:'Open Sans', sans-serif;
	font-weight:400;
	border:1px solid #f4f4f4;
}
	.sort a {
		color:#999;
	}
		.sort a:hover {
			color:#79C0AD;
		}
.so {
	font-size:16px;
}
.m20 {
	margin-bottom:20px;
}
.search {
	position:relative;
	width:100%;
	margin-bottom:55px;
}
.searchTerm {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	height:40px;
	border:1px solid #f2f2f2;
	border-radius:3px;
	outline:none;
	padding:5px 45px 5px 15px;
	background:#f7f7f7;
	color:#ccc;
}
.searchButton,
.searchIcon {
	display:block;
	position:absolute;
	top:0;
	right:0;
	width:40px;
	height:40px;
	line-height:40px;
	background:#79C0AD;
	text-align:center;
	color:#fff;
	border-radius:0px 3px 3px 0px;
	cursor:pointer;
	font-size:16px;
}
.searchButton {
	opacity:0;
	z-index:1;
}
.pages {
	font-size:15px;
}
	.pages a {
		color:#F47A6D;
		font-size:15px;
	}
		.pages a:hover {
			color:#79C0AD;
		}
.video {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
	margin-bottom:20px;
}
	.video iframe,  
.video object,  
.video embed {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
.mr {
	max-height:75px;
	overflow:hidden;
}
.user {
	background-color:#79C0AD;
	font-size:13px;
	padding:5px 12px;
	display:inline-block;
	color:#fff;
	font-size:12px;
	border-radius:0 0 2px 2px;
	cursor:pointer;
	outline:none;
}
	.user a {
		color:#fff;
		outline:none;
	}
	.user:hover {
		background-color:#F47A6D;
	}
.martop {
	margin-top:25px;
}
.fps-edit, .fps-delete, .fps-add, .fps-up, .fps-down, .fps-star, .fps-ip, .fps-on, .fps-off, .fps-open, .fps-like, .fps-unlike, .fps-fix, .fps-unfix, .fps-premoder-confirm, .fps-premoder-reject, .fps-user {width:14px; height: 14px; display:block; float:left; margin:0 1px; background: url('../img/fps-icons-sprite.png') no-repeat;}
.fps-delete {background-position:0 0;}
.fps-down {background-position:0 -14px;}
.fps-up {background-position:0 -28px;}
.fps-edit {background-position:0 -42px;}
.fps-open {background-position:0 -70px;}
.fps-unfix {background-position:0 -84px;}
.fps-fix {background-position:0 -98px;}
.fps-off {background-position:0 -112px;}
.fps-on {background-position:0 -126px;}
.fps-star {background-position:0 -140px;}
.fps-ip {background-position:0 -154px;}
.fps-like {background-position:0 -168px;}
.fps-unlike {background-position:0 -182px;}
.fps-premoder-confirm {background-position:0 -210px;}
.fps-premoder-reject {background-position:0 -196px;}
.fps-user {background-position:-14px 0;}

.userrank img {width:80px;height:80px;}
.controls textarea#editor {min-height:90px;width:100%;}
#category { background-color: #ffffff;
border: 1px solid #ddd;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;}

.fps-fwin {position:fixed;top:75px;  left: 55%;z-index: 99999;  margin-left: -280px;}

.drag_window {
z-index: 9999; 
position: relative;  
width: 360px;
background-color: #ffffff;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, 0.3);
*border: 1px solid #999;
overflow: auto;
outline: none;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
}
.drag_window .fps-title {
padding: 21px 12px;
background: #F47A6D;
cursor: move;
position:relative;
display: block;  
font-size: 14px;
font-weight: 200;
color: #fff;
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
}
.drag_window .fps-cont {
position: relative;
max-height: 400px;
padding: 10px 15px 10px 15px;
overflow-y: auto;
}
.drag_window .fps-cont input[type="button"]  {
display: inline-block;
*display: inline;
  padding: 5px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  color: #999;
  text-align: center;
  vertical-align: middle;
cursor: pointer;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
color: #ffffff;
background-color: #79C0AD;
font-size: 13px;
}


.drag_window .fps-cont input[type="button"]:hover ,
.drag_window .fps-cont input[type="button"]:hover {cursor:pointer;}
.drag_window .fps-cont div p {margin: 0;}
.drag_window .fps-cont div ul.errorMsg {padding: 5px;list-style: none;}
.drag_window .fps-cont div ul.errorMsg li {padding:10px 0px;background:#fee8e8;
border-radius:5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
-khtml-border-radius:5px;margin:2px 0px;}
.drag_window .fps-close {background: url('../img/ui-icons.png') no-repeat -96px -128px;  position:absolute; right:5px;top:10px;  height: 16px;  width: 16px;  cursor: pointer;}
.fps-fwin .fps-close:hover {opacity:0.7;}
.fps-fwin textarea {width: 254px;height: 50px;margin: 7px 0;}
.reson_rating {border:1px solid #cfcfcf;}
.fps-fwin fieldset {margin-top:7px; padding:4px; border: 1px solid #ccc; font-size:11px;text-align: left; color:#6b6b6b;}
.fps-fwin fieldset legend {font-size:11px;}
.fps-form-red {width:100%; border:1px solid #7F9DB9; border-bottom:none;}
.fps-form-textarea {overflow:hidden; width:100%; border:1px solid #7F9DB9;}
.fps-form-textarea textarea {border:none;}
.fps-control {font-size:12px;}
.fps-control input, .fps-control select {font-size:12px;}
.aimg {cursor:pointer;}
.botname {color:#FF0000;}
.smilebox {width:100%;height:400px;overflow:auto; background:#131A1D;}
.smilebox div {width:38px;height:40px; float:left;}
.loads a {color:#fff;}
.loads span {font-weight:bold;}

/*---Цитата и скрытый текст---*/
.row-fluid .codeMessage, .row-fluid .bbQuoteName, .row-fluid .quoteMessage, .row-fluid .spoiler-open, .row-fluid .spoiler-win {
    padding: 5px;
    background: #f8f8f8;
	border-bottom: 1px solid #ddd;
    font-size: 12px;
	font-style: italic;

}

.row-fluid .bbQuoteName, .row-fluid .spoiler-open {
    background: #f7f7f7;
	margin:5px 0px 0px 0px;
}

.row-fluid .bbQuoteName {
	border-bottom: 1px solid #ddd;
    font-weight: normal;
	font-style: italic;
}

.row-fluid .codeMessage {
    color: #004e8d;
    text-align: left;
    font-family: "Arial";
}

.row-fluid .spoiler-open{
    font-weight: bold;
	width:200px;
}

.row-fluid .spoiler-win {
    border-top: 0;
    text-align: justify;
}

.row-fluid .hide {
    background-color: #e8f3fa;
    padding: 5px;
    color: #3a78a5;
    margin: 0 0 1em;
}

.row-fluid .hide a {
    text-decoration: underline;
}

.row-fluid .hide a:hover {
    text-decoration: none ;
}

.row-fluid .inhide {
    border: 1px solid #d1e3ef;
    padding: 5px;
    background-color: #fff;
    margin-bottom: 5px;
}

.pm_send .pm_text {background:#f3f3f3;}
.pm_text {position:relative; padding:10px;min-height:30px;}
.pm_text .pm_post_delete {display:none;position:absolute;right:0px;bottom:0px;padding:4px 10px;background: rgba(0, 0, 0, 0.400);color:#fff;}
.pm_text .pm_post_delete a {color:#fff;}
.pm_text:hover .pm_post_delete  {display:block;}
.pm_sendtime {font-size:10px;color:#ccc;}

/*--rating--*/
.urating {border:1px solid #eee; padding:3px; margin-bottom:5px;}
.urating .action {float:left; color: #666; font-size:17px; font-weight:bold; padding:0 3px;}
.urating .action span {color:#E27B1C;}
.urating .usr a {color: #242424;font-size:11px;font-famiy:Tahoma;  text-decoration:none;background: transparent;border: none;box-shadow: none;margin: 0;padding: 0 5px 0 0;}
.urating .usr a:hover {color:#656565;}
.urating .usr {float:left;  font-size:14px; padding: 0;}
.urating .date { color: #2B311A; font-size: 10px; padding: 5px 5px; float: right;}
.urating .moder {float: right;  margin-top: 3px;}
.urating .moder a {width: 14px;  height: 14px;  margin: 0 1px;  background: url('../img/fps-icons-sprite.png') no-repeat;  background-position: 0 0;  box-shadow: none;  border: none;  padding: 0;}
.urating .comm {color:#656565; font-size:11px; padding:5px 2px 5px 2px;clear: both;border-top:1px solid #eee;}
.search_label label {display:inline;}
/*--rating--*/