{{ editor_body }}
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="sendu(this); return false">
<div class="material">
      <div class="mat-title">Добавление новой фотографии</div>
      <div class="mat-content">
          <ul class="spisok-all">
          <li>
            <span class="siu_title"><strong><font color="red">*</font>Категория:</strong></span>
            <span class="siu_data"><select name="cats_selector">{{ context.cats_selector }}</select></span>
          </li>
          <li>
            <span class="siu_title"><strong><font color="red">*</font>Название фотографии:</strong></span>
            <span class="siu_data"><input type="text" name="title" maxlength="128" value="{{ context.title }}"></span>
          </li>
          <li class="margin">
            <textarea {{ editor_text }} class="text-area" name="mainText">{{ context.main_text }}</textarea>
          </li>
          <li>
            <span class="siu_title"><strong><font color="red">*</font>Изображение:</strong></span>
            <span class="siu_data"><input type="file" name="foto" size="25" /></span>
          </li>
          {% if checkAccess([module,'record_comments_management']) %}
          <li>
            <span class="siu_title"><strong>Комментарии:</strong></span>
            <span class="siu_data"><input type="checkbox" name="commented" value="1" {{ context.commented }} /></span>
          </li>
          {% endif %}
          <li>
            <input type="submit" name="submitForm" value="Отправить" />
          </li>
          </ul>
      </div>
</div>
</form>