﻿{{ editor_body }}
{{ script_gentags }}
<script type="text/javascript">
maxAttachedFiles = {{ context.max_attaches }};
</script>
<form name="sendForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="if (checkForm(this)) {sendu(this)}; return false">
<h6><span>Редактировать файл</span></h6>
<p>Редактировать файл на сайте, если возникли трудности при заполнении данной формы, обращайтесь к администрации сайта. </p>
<hr />
<div class="well">
 <h4>Заголовок файла: *</h4>
   <input  style="width:64%;" type="text" name="title" value="{{ context.title }}" />
<hr />
 <h4>Категория: *</h4>
 <select name="cats_selector" class="span" id="category">{{ context.cats_selector }}</select>
<hr />
 <h4>Текст материала: *</h4>
<textarea {{ editor_text }} name="mainText" style="width:100%;" rows="20" class="span6" >{{ context.main_text }}</textarea>
<hr />
 <h4>Загрузить файл: *</h4>
<input type="file" name="attach" /> Удалить:<input type="checkbox" name="delete_file" value="1" /> 
<hr />
<h4>Указать зеркало:</h4>
<input size="70" style="width:64%;" type="text" name="download_url" value="{{ context.download_url }}" />
<hr />
<h4>Размер файла на зеркале:</h4>
<input size="70" type="text" style="width:64%;" name="download_url_size" value="{{ context.download_url_size }}" />     
<hr />
<h4>Загрузить скриншоты:</h4> 
 <span class="siu_data" id="attachments">
  Удаление загруженных изображений: {{ context.attaches_delete }}
<input class="attachField" type="file" id="attach1" name="attach1" onchange="getFile(1)"><span id="attachMeta1"></span>
<input class="btn btn-info" type="button" name="addInput" value="Добавить еще скриншот" onclick="addFileField('attachments');">
</span>    
<hr />     
<h4>Настройка для поиска: <input type="checkbox" onClick="metaTags(this);" /></h4>        
<div id="meta" style="display:none;">
            <span class="siu_title"><strong>Meta description:</strong><div style="font-size:10px;">Нужно для более быстрой индексации поисковыми роботами</div></span>
            <span class="siu_data"><textarea name="description">{{ context.description }}</textarea></span>
          </div>
          <div id="tags" style="display:none;">
            <span class="siu_title"><strong>Теги:</strong><div style="font-size:10px;">Слова по которым будет искаться материал</div></span>
            <span class="siu_data"><input {{ input_gentags }} size="70" type="text" name="tags" value="{{ context.tags }}" /><br />{{ button_gentags }}</span>
            <br />{{ forms_gentags }}
          </div>
<hr />
<h4>Разработчик:</h4> 
<input style="width:64%;" size="70" type="text" name="sourse" value="{{ context.sourse }}" />
<hr />
<h4>E-Mail автора:</h4> 
<input style="width:64%;" size="70" type="text" name="sourse_email" value="{{ context.sourse_email }}" />
<hr />
<h4> Ссылка на первоисточник:</h4> 
<input size="70" type="text" name="sourse_site" value="{{ context.sourse_site }}" />
<hr />
 {% if checkAccess([module,'record_comments_management']) %}
<h4>Разрешить комментирование?: <input type="checkbox" name="commented" value="1" {{ context.commented }} /></h4> 
<hr />      
{% endif %}
  {% if checkAccess([module,'hide_material']) %}
<h4>Доступен для просмотра: <input type="checkbox" name="available" value="1" {{ context.available }} /></h4> 
<hr />      
{% endif %}
<div align="right"><input type="submit" class="btn btn-info" name="submitForm" value="Отправить"/></div>
<p>Правила! Запрещено ...</p>
      </div>

</form>

