{% if entities %}

     <div class="m20">
                  <div class="btn btn-warning " data-toggle="collapse" data-target="#demo">
                     <span class="entypo-cog active"></span>
                  </div>
                  <div id="demo" class="collapse pull-right">
                     <div class="sort">Сортировать по: {{ getOrderLink(['views','Просмотры']) }} / {{ getOrderLink(['date','Дата добавления']) }} / {{ getOrderLink(['comments','Комментарии']) }} / {{ getOrderLink(['downloads','Загрузки']) }} </div>
                  </div>
               </div>

{% for entity in entities %}

              
<div class="sep">
<h2 class="short"><a href="{{ entity.entry_url }}">{{ entity.title }}</a></h2>
{% if entity.moder_panel %}<span class="pull-right"><div class="fps_moder">{{ entity.moder_panel }} </div></span> {% endif %}
<span class="meta">Автор: <a href="{{ entity.profile_url }}">{{ entity.author.name }}</a> от {{ entity.date }}, просмотров {{ entity.views }} , <a href="{{ entity.category_url }}">{{ entity.category.title }}</a>  </span>
<hr class="soften">
<div class="m20"> <a href="{{ entity.img.url_1 }}" class="gallery"> <img src="{{ entity.img.url_1 }}" alt="{{ entity.title }}" title="{{ entity.title }}" /> </a></div>

<p class="story ">{{ entity.announce }}</p>
<a class="btn btn-info" href="{{ entity.entry_url }}">Подробнее  <span class="entypo-comment active"></span> {{ entity.comments }} / Загрузок: {{ entity.downloads }}</a>

</div>
{% endfor %}
{% else %}
<div class="alert alert-error">
Каталог файлов пуст.
</div>
{% endif %}
