<!DOCTYPE html>
<html>
<head>
<title>{{ title }}</title>

<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta charset="UTF-8"/>

<meta name='generator' content='Atom-M CMS' />

 <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- Le styles -->
      <link href="{{ template_path }}/css/bootstrap.css" rel="stylesheet">
      <link href="{{ template_path }}/css/bootstrap-responsive.css" rel="stylesheet">
      <link href="{{ template_path }}/css/city.css" rel="stylesheet">
      <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="{{ template_path }}/js/html5shiv.js"></script>
      <![endif]-->

<link rel="shortcut icon" href="{{ template_path }}/favicon.ico" type="image/x-icon" />

<script type="text/javascript" src="{{ www_root }}/data/js/jquery.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/atom.js"></script>


<script type="text/javascript" src="{{ template_path }}/js/default.js"></script>

{{ editor_head }}

<!-- FancyBOX -->
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/fancy.css" />
<script type="text/javascript" src="{{ template_path }}/js/jquery.fancybox.js"></script>
<!--/FancyBOX -->

<script type="text/javascript">
{% if atm_user.id %}
    check_pm();
{% endif %}
</script>
</head>

   <body>
 {% include '../include/header.html' %}
      <div class="container visible-desktop">
              {% if action == 'index' %}
         <!-- Кнопка авторизации на главной -->            
         <div class="m20 cn">
            <a data-toggle="modal" href="#myModal">
               <div class="user">
             {% if atm_user.id %}
            <a data-toggle="modal" href="#myModal"><i class="icon-cog icon-white" style="margin-top: 1px;"></i> Профиль</a>
             {% else %}
            <a data-toggle="modal" href="#myModal"><i class="icon-user icon-white" style="margin-top: 1px;"></i> Вход </a>
          {% endif %}
            </div>
            </a>
         </div>
       {% endif %}
         <div class="row-fluid">
            <div class="span8 ">

{{ content }}
{{ comments }}
            
{% if pagination %}
<div style="clear: both;"></div>
<div class="pages">{{ pagination }}</div>
{% endif %}
{% if comments_pagination %}
<div style="clear: both;"></div>
<div class="pages">{{ comments_pagination }}</div>
{% endif %}

        {{ comments_form }}
            </div>
            <!-- end span8 main content -->
            <div class="span4 ">
              
                <form method="POST" action="{{ www_root }}/search/" class="search"> 
               <input type="hidden" name="subaction" value="search"> 
                  <input name="search"  class="searchTerm" placeholder="Поиск по сайту ..." />
                  <input class="searchButton" type="submit" name="send"  /><span class="searchIcon entypo-search"></span>
               </form>
               <div class="m20">
                  <img src="{{ template_path }}/img/adv.png" class="">
               </div>
               <h6><span>Топ пользователей</span></h6>
               <ul class="thumbnails">
{{ users_rating }}
               </ul>
             
<h6><span>Статистика</span></h6>

<div class="span6">Всего: {{ all_online }} <br /> Пользователи: {{ users_online }} <br /> Гости: {{ guests_online }}</div>
<img src="{{ counter }}" alt=""/>
<hr />
{{ online_users_list }}
            
            </div>
            <!-- end span4 sidebar content -->
         </div>
      </div>
      <!-- end container -->
      <!-- Вывод новостей для мобильной версии -->
      <div class="container martop hidden-desktop">
        {{ content }}
{% if pagination %}
<div style="clear: both;"></div>
<div class="pages">{{ pagination }}</div>
{% endif %}
        {{ comments }}
        {% if comments_pagination %}
<div style="clear: both;"></div>
<div class="pages">{{ comments_pagination }}</div>
{% endif %}

        {{ comments_form }}
        
      </div>      
      <!-- Footer
         ================================================== -->
      <footer class="footer">
         <div class="container">
            <div class="row-fluid">
               <div class="span12">
                  <a href="#">
                     <h4>Atomm v 4</h4>
                  </a>
                  <ul class="footer-links">
                     <li><a href="#">О сайте</a></li>
                     <li class="muted">&middot;</li>
                     <li><a href="#">Контакты</a></li>
                     <li class="muted">&middot;</li>
                     <li><a href="#">Размещение рекламы</a></li>
                     <li class="muted">&middot;</li>
                     <li><a href="#">Соглашение</a></li>
                  </ul>
                  <p >Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.</p>
                  <br />
                  <p >
                     Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни.
                  </p>
                  <br />
                  <p>                <a href="https://vk.com"><span class="brandico-vkontakte-rect social"></span></a>
                     <a href="https://www.facebook.com"><span class="brandico-facebook-rect social"></span></a>
                     <a href="https://twitter.com"><span class="brandico-twitter-bird social"></span></a>
                     <a href="http://www.odnoklassniki.ru"><span class="brandico-odnoklassniki-rect social"></span></a>
                  </p>
                  <hr />
                  <p>&copy; 2013 City Skyline. Theme by Yurta (d.prezents@ya.ru). <br /> <br /></p>
               </div>
               
            </div>
         </div>
      </footer>
      <script src="{{ template_path }}/js/bootstrap.min.js"></script>
      <script>
         $('#navbar').scrollspy({
           offset: 0
         });
      </script>
      <script type="text/javascript">
         (function($){
         $('.row-fluid ul.thumbnails li.span6:nth-child(2n + 3)').css('margin-left','0px');
         $('.row-fluid ul.thumbnails li.span4:nth-child(3n + 4)').css('margin-left','0px');
         $('.row-fluid ul.thumbnails li.span3:nth-child(4n + 5)').css('margin-left','0px'); 
         })(jQuery);
         
         $(document).ready(function()
         {
             if (navigator.appName == "Opera")
             {
                 $('#myModal').removeClass('fades');
             }
         });
         
      </script>
      <script type="text/javascript">
         $(document).ready(function(){
          $('#oceanCarousel, #musiciansCarousel').carousel({
          interval: 3000
          });     
          
         });
         $(document).ready(function() {
         $('#myCarousel .item:first').addClass('active');
        });
         
      </script>
      <!-- Оконо авторизации и профиля -->
      <div id="myModal" class="modal fade visible-desktop">
         <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h4>ВАШ АККАУНТ НА САЙТЕ</h4>
         </div>
         {% include '../include/login.html' %}
      </div>
      <div style="display:none;">Powered by <a href="http://megadle.ru/" title="Powered by DataLife Engine">
      DataLife Engine</a> &copy; 2013</div>
   </body>
</html>