{% if users %}
{% for user in users %}

<li class="span4">
   <a href="{{ user.profile_url }}" class="thumbnail tp">
      <div class="wrapper userrank">
         <img src="{{ user.avatar }}" alt="{{ user.name }}" title="{{ user.name }}" width="80px" height="80px" /> 
         <div class="description7">
            <div class="description_content">
               Реп: {{ user.rating }}<br />
            </div>
         </div>
      </div>
   </a>
</li>
    {% endfor %}
       
{% endif %}