<form name="addNewUserForm" id="sendForm" action="{{ context.action }}" method="POST" enctype="multipart/form-data" onsubmit="sendu(this); return false">
<h6><span>Регистрация</span></h6>
<p>Регистрируясь на сайте вы подтверждаете согласия с правилами сайта</p>
<hr />
<div class="well">
 <h4>Логин на сайте: *</h4>
<input class="span6" type="text" name="login" maxlength="30" value="{{ context.login }}" />

 <h4>Полное имя: </h4>
<input class="span6" type="text" name="full_name" maxlength="255" value="{{ context.full_name }}" />

 <h4>Адрес e-mail: *</h4>
<input class="span6" type="text" name="email" maxlength="60" value="{{ context.email }}" />


 <h4>Пароль: *</h4>
<input class="span6" type="password" name="password" maxlength="30" value="" />

 <h4>Подтвердите пароль: *</h4>
<input class="span6" type="password" type="password" name="confirm" maxlength="30" value="" />

<hr/>
 <h4>Пол:</h4>
Мужской <input type="radio" name="pol" value="1"{{ context.mpol }} />
Женский <input type="radio" name="pol" value="2"{{ context.fpol }} />

<hr/>
 <h4>Город</h4>
<input class="span6" type="text" name="city" maxlength="100" value="{{ context.city }}" />
<hr/>
 <h4>Дата рождения:</h4>
<select name="bday">{{ context.bday_selector }}</select>
<select name="bmonth">{{ context.bmonth_selector }}</select>
<select name="byear">{{ context.byears_selector }}</select>    
<hr/>
 <h4>Коррекция временных зон:</h4> <span style="font-size:10px">Укажите разницу вашего времени относительно серверного, чтобы скорректировать время на часах сайта под вас.</span>
   <select name="timezone">{{ context.options }}</select><br />
   Текущее время на сервере: {{ context.servertime }}
<hr/>
 <h4>Аватар:</h4> 
<input type="file" name="avatar" />
<hr/>
 <h4>Подпись:</h4> 
 <textarea name="signature" style="width: 95%;" rows="8" class="f_textarea">{{ context.signature }}</textarea>
 
 <h4>О себе:</h4> 
 <textarea name="about" style="width: 95%;" rows="8" class="f_textarea">{{ context.about }}</textarea>

 <h4> Домашняя страничка:</h4> 
 <input class="span6" type="text" name="url" maxlength="60" value="{{ context.url }}"  />
 
 <h4>Телефон:</h4> 
<input class="span6" type="text" name="telephone" maxlength="100" value="{{ context.telephone }}" />

 <h4>Номер ICQ:</h4> 
<input class="span6" type="text" name="icq" maxlength="12" value="{{ context.icq }}" />

 <h4>Jabber:</h4> 
<input class="span6"  type="text" name="jabber" maxlength="100" value="{{ context.jabber }}" />
<hr />
<span id="captcha"><img onclick="this.src='/sys/inc/kcaptcha/kc.php/?'+Math.round(Math.random(0)*1000)" src="{{ context.captcha }}" alt="" /></span>
 <br /> Введите код с картинки<br />
<input type="text" name="keystring" maxlength="6" value="{{ context.keystring }}" class="input-xlarge" />
<hr />
 <input type="submit" class="btn btn-info" name="submitForm" value="Зарегистрироваться" />
</div>


</form>