<h6><span>Список пользователей</span></h6>


Сортировка:   
{{ getOrderLink(['name','Имя']) }} /
{{ getOrderLink(['puttime','Регистрации']) }} /
{{ getOrderLink(['last_visit','Последний визит']) }} /
 
{{ getOrderLink(['status','Группа']) }} / 
{{ getOrderLink(['rating','Репутация']) }} /
{{ getOrderLink(['warnings','Предупреждения']) }}
<hr />



        

<ul class="userlist">
{% if entities %}
{% for user in entities %}
             
             

<li class="span3">
<div class="wrapper">
<img src="{{ getAvatar(user.id) }}" alt="{{ user.name }}" title="{{ user.name }}" width="90px" />
         <div class="description7">
            <div class="description_content">
             <a href="{{ www_root }}/users/info/{{ user.id }}"> {{ user.name }} </a><br />
            </div>
         </div>
      </div>

   <div class=" thumbnail">
      <div class="caption">
         <span class="meta">Репутация: {{ user.rating }}</span>          
         <h2><a href="{{ www_root }}/users/info/{{ user.id }}">{{ user.posts }} сообщений</a></h2>
         <p> {% if user.baned %}
         <span style="color:{{ user.group_color }}">{{ user.group }}</span>(Заблокирован до {{ user.baned }})
         {% else %}
         <span style="color:{{ user.group_color }}">{{ user.group }}</span>
        {% endif %}</p>
      </div>
   </div>
</li>   

            {% endfor %}
            {% endif %}
         </ul>
         
      
        
