<form name="loginForm" action="{{ context.action }}" method="POST" id="sendForm" onsubmit="sendu(this); return false">
<h6><span>Авторизация</span></h6>

        <div class="well">
         <h4>Логин:</h4>
      <input type="text" name="username" maxlength="30" value="" class="span6" style="width:100%" />
      <hr />
        <h4>Пароль:</h4>
      <input type="password" name="password" maxlength="30"  class="span6" style="width:100%" />{{ context.form_key }}
      <hr />
    <h4>Запомнить: <input type="checkbox" name="autologin" value="1" /> </h4>
         
            <input type="submit" name="submitForm"value="Вход" class="btn btn-info" style="width:100%" /> {{ context.new_password }}
         
      </div>

</form>