<form name="newPasswordForm" id="sendForm" action="{{ context.action }}" method="POST" onsubmit="sendu(this); return false">
<h6><span>Восстановление пароля</span></h6>

        <div class="well">
        <h4>Имя(логин):</h4>
            <input type="text" class="span6" name="username" maxlength="30" value="" style="width:100%" />
            <hr />
          <div style="text-align: center;font-size: 25px;">ИЛИ</div>
          <hr />
    
            <h4>Адрес e-mail:</h4>
           <input class="span6" type="text" name="email" maxlength="60" style="width:100%" />
      <hr />

            <input class="btn btn-info" type="submit" name="submitForm" value="Отправить" style="width:100%" />
   
          </div>


</form>
