<div class="pull-right">
Удалить отмеченные сообщения: <input id="packButton" type="button" disabled="disabled" onClick="sendPack('/users/delete_messages_user/');" value="(0)">
<div style="display:none;"><form id="actionPack" action="" method="POST" onsubmit="sendu(this);return false;"></form></div>
</div>
<h6>Список переписок</h6>

<hr />
<div class="btn-group">
<button class="btn btn-info">Входящие сообщения</button>
 
</div>


           
{% if messages %}
{% for message in messages %}
 <div {% if message.viewed != 1 %}class="pm_send"{% endif %}>
<br />
<hr />
<div class="pm_title">Переписка с: <a href="{{ www_root }}/users/pm_view/{{ message.user.id }}">{{ message.user.name }}</a> / Последнее обновление: {{ message.sendtime }} / {{ message.delete }}<input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ message.user.id }}" /></div>
<div class="pm_text" onclick="location.href='{{ www_root }}/users/pm_view/{{ message.user.id }}'" style="cursor: pointer;">  
<div class="span1">{% if message.direction == 'in'  %}  <img src="{{ getAvatar(message.user.id) }}" alt="" width="30px;"/>{% else %} <img src="{{ atm_user.avatar_url }}" alt="" width="30px;"/>{% endif %}</div>
{{ message.text }}</div>
<hr />     
</div>
{% endfor %}
{% else %}
<h6> Список Сообщений пуст </h6>
{% endif %}
           
       


