
{{ editor_body }}

<script>
function sendPM() {
    $('#send_pm_a').hide();
    $('#send_pm_form').show();
}

// подставляем id юзера с которого был переход
window.onload = function(){
    var id;
    id = intURLafter();// получаем id юзера из url
    if (id !== undefined) {
         var backlink = $('#backuplink'), backlinkhref = '{{ www_root }}/users/info/';
         backlink.attr("href", backlinkhref + id);
         backlink.html("К профилю {{ context.interlocutor }}");
         
         var pmlink = $('#pm'), pmlinkhref = '{{ www_root }}/users/send_pm_form/';
         pmlink.attr("href", pmlinkhref + id);
         
         var msglink = $('#msg'), msglinkhref = '{{ www_root }}/users/send_mail_form/';
         msglink.attr("href", msglinkhref + id);
    }
}

</script>


<div class="pull-right">
Удалить отмеченные сообщения: <input id="packButton" type="button" class="btn btn-info" disabled="disabled" onClick="sendPack('/users/delete_messages_user/');" value="(0)">
<div style="display:none;"><form id="actionPack" action="" method="POST" onsubmit="sendu(this);return false;"></form></div>
</div>

<h6>Беседа с {{ context.interlocutor }}</h6>
<hr />
<button class="btn btn-info" onclick="location.href='{{ www_root }}/users/info/{{ atm_user.id }}'">Мой профиль</button>
<button class="btn btn-info" onclick="location.href='{{ www_root }}/users/pm/'">Сообщения</button>
<button class="btn btn-info" onclick="location.href='{{ www_root }}/users/send_pm_form/'">Отправить ЛС</button>
<hr />



           
{% if messages %}

{% for message in messages %}
 <div {% if message.viewed != 1 %}class="pm_send"{% endif %}>


<div class="pm_text">  
<div class="span1">{% if message.direction == 'in'  %}  <img src="{{ getAvatar(message.user.id) }}" alt="" width="30px;"/>{% else %} <img src="{{ atm_user.avatar_url }}" alt="" width="30px;"/>{% endif %}</div>
{{ message.text }}
<br /><div class="pm_sendtime"> Дата: {{ message.sendtime }} </div>
<br />
<div class="pm_post_delete">{{ message.delete }} <input type="checkbox" class="packPoint" onClick="if(this.checked){addToPackage(this.value);}else{delFromPackage(this.value);}" value="{{ message.user.id }}" /></div>
</div>
<hr />     
</div>
{% endfor %}
{% else %}
<h6> Список Сообщений пуст </h6>
{% endif %}
<h6><span>Форма для ответа</span></h6>
<div class="row-fluid ">
   <div class="span12 well">
  <form name="sendForm" id="sendForm" action="/users/send_pm" method="POST" enctype="multipart/form-data" onsubmit="sendu(this); return false">
 <div class="controls">
  <textarea {{ editor_text }} class="text-area" name="mainText"></textarea>
  </div>
 <input type="text" name="toUser" id="toUser" maxlength="30" value="{{ context.interlocutor }}" style="display: none" />
  <input  type="submit" name="submitForm" value="Отправить" class="btn btn-large btn-info pull-right" />
<p>Запрещено использовать не нормативную лексику, оскорбление других пользователей данного сайта, активные ссылки на сторонние сайты, реклама в сообщениях.</p>
 </form>
</div>
</div>



