<div class="well">
    <div class="row-fluid">
<h6>Пользователь: {{ user.name }} </h6>
<hr class="soften">
<div class="span2">
<img src="{{ user.avatar }}" width="100%" alt="{{ user.name }}"/>

</div><!-- /span2 -->

<div class="span9">
<div class="pull-right">
{% if user.edit_profile_link %}                 
{{ user.edit_profile_link }}
{% endif %}</div>
<ul style="list-style-type: none;">

 {% if user.full_name %}
<li>
<span class="siu_title">Полное имя:</span>
<span class="siu_data">{{ user.full_name }}</span>
</li>
{% endif %}


{% if atm_user.id == user.id %}
<li><a href="{{ www_root }}/users/pm/">Сообщения</a></li>
{% else %}
{% if atm_user.id %}
<li><a href="{{ www_root }}/users/send_pm_form/{% if atm_user.id != user.id %}{{ user.id }}{% endif %}">Отправить ЛС</a></li>
{% endif %}

{% endif %}
<hr/>

<li><span class="grey">Группа:&nbsp;</span>
{% if checkAccess([module,'edit_users']) %}{% if fps_id == user.id %}
{% if user.baned %}
<s style="color:{{ user.group_color }}">{{ user.group }}</s>(Заблокирован до {{ user.baned }})
{% else %}
<span style="color:{{ user.group_color }}">{{ user.group }}</span>
{% endif %}
{% else %}
<form id="groupForm_{{ user.id }}" style="display:inline;">
 <select name="group" onchange="document.getElementById('infomess_group_{{ user.id }}').innerHTML = ''">
{% for group in fps_users_groups %}{% if group.id %}
<option {% if user.status == group.id %} selected {% endif %} value="{{ group.id }}">{{ group.title }}</option>
{% endif %} {% endfor %}
</select>
<input type="button" value="Изменить" class="btn btn-info" onClick="setGroup({{ user.id }}, 'groupForm_{{ user.id }}');" />
<div id="infomess_group_{{ user.id }}"></div>
</form>
                                                                 
{% endif %}
{% else %}
{% if user.baned %}
<span style="color:{{ user.group_color }}">{{ user.group }}</span>(Заблокирован до {{ user.baned }})
{% else %}
<span style="color:{{ user.group_color }}">{{ user.group }}</span>
{% endif %}
{% endif %}</li>
                
<li>
<span class="siu_title">Репутация:</span>
<span class="siu_data"><a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/votes_story/{{ user.id }}', '', 'История рейтинга ({{ user.name }})');">{{ user.rating }}</a>
{% if checkAccess([module,'set_rating']) %}<a href="javascript:void(0)" onClick="$('#setRating_{{ user.id }}').show();">-&nbsp;/&nbsp;+</a></a>{% endif %}
</span>
</li>
{% if user.rank %}
<li>
<span class="siu_title">Ранг:</span>
<span class="siu_data">{{ user.rank }}</span>
</li>
{% endif %}
<li>
<span class="siu_title">Статус:</span>
<span class="siu_data">{{ getUserRatingText(user.posts) }}</span>
</li>
<li>
<span class="siu_title">Предупреждения:</span>
<span class="siu_data"><a href="javascript:void(0)" onClick="showFpsWin('{{ www_root }}/users/warnings_story/{{ user.id }}', '', 'История предупреждений ({{ user.name }})');">{{ user.warnings }}</a>&nbsp;&nbsp;&nbsp;&nbsp;
{% if checkAccess([module,'users_warnings']) %}<a href="javascript:void(0)" onClick="$('#addWarning_{{ user.id }}').show();">-&nbsp;/&nbsp;+</a>{% endif %}
</span>
</li>
<hr />

<li>
<span class="siu_title">Дата регистрации:</span>
<span class="siu_data">  {{ user.regdate }}</span>
</li>


<li>
<span class="siu_title">Дата последний активности:</span>
<span class="siu_data">  {{ user.lastvisit }}</span>
</li>

{% if user.telephone %}
<li>
<span class="siu_title">Телефон:</span>
<span class="siu_data"> {{ user.telephone }}</span>
</li>
{% endif %}
{% if user.url %}
<li>
<span class="siu_title">WEB - site:</span>
<span class="siu_data">{{ user.url }}</span>
</li>
{% endif %}

{% if user.city %}
<li>
<span class="siu_title">Город:</span>
<span class="siu_data">{{ user.city }}</span>
</li>
{% endif %}
{% if user.icq %}
<li>
<span class="siu_title">Номер в ICQ:</span>
<span class="siu_data">{{ user.icq }}</span>
</li>
{% endif %}
{% if user.jabber %}
<li>
<span class="siu_title">Jabber:</span>
<span class="siu_data">{{ user.jabber }}</span>
</li>
{% endif %}
<hr />
{% if user.age %}
<li>
<span class="siu_title">Возраст:</span>
<span class="siu_data"> {{ user.age }} </span>    
</li>
<li>
<span class="siu_title">День рождения:</span>
<span class="siu_data">{{ user.byear }}-{{ user.bmonth }}-{{ user.bday }}</span>
</li>
{% endif %}
 <li>
<span class="siu_title">Пол:</span>
<span class="siu_data">{% if user.pol %} {{ user.pol }} {% else %} Не указан {% endif %}</span>
</li>
<hr /> 
{% if user.about %}
<li>
<span class="siu_title">Интересы:</span>
<span class="siu_data">{{ user.about }}</span>
</li>
{% endif %}
{% if user.signature %}
<li>
<span class="siu_title">Подпись:</span>
<span class="siu_data">{{ user.signature }}</span>
</li>
<hr />
{% endif %}

</ul>


<ul style="list-style-type: none;">
{% for stat in user.stat %}
{% if stat.count %}
<li><span class="grey">{{ stat.text }}&nbsp;</span> <a href="{{ stat.url }}">({{ stat.count }})</a></li>
{% endif %}
{% endfor %}

</ul>

<hr />



</div>
</div>
</div>


<style>
#setRating_{{ user.id }} {}
#addWarning_{{ user.id }} {}
#infomess_{{ user.id }}, #winfomess_{{ user.id }} {margin-top: 5px;text-align: center;}
#ratingForm_{{ user.id }} {}
#warningForm_{{ user.id }} {}
</style>    
<div id="setRating_{{ user.id }}" class="fps-fwin" style="display:none;">
<div class="drag_window">
    <div class="fps-title" onmousedown="drag_object(event, this.parentNode)">Голос для <b>{{ user.name }}</b></div>
    <div onClick="$('#setRating_{{ user.id }}').hide()" class="fps-close"></div>
    <div class="fps-cont">
        <form id="ratingForm_{{ user.id }}">
            <input type="radio" name="points" value="1" /><b>&nbsp;Повысить репутацию на 1</b><br />
            <input type="radio" name="points" value="0" /><b>&nbsp; Не изменять</b><br />
            <input type="radio" name="points" value="-1" /><b>&nbsp;  Понизить репутацию на 1</b><br />
            <textarea name="comment"></textarea><br />
            <input type="button" value="Отправить" onClick="setRating({{ user.id }}, 'ratingForm_{{ user.id }}');" />
        </form>
        <div id="infomess_{{ user.id }}"></div>
    </div>
</div>
</div>
<div id="addWarning_{{ user.id }}" class="fps-fwin" style="display:none;">
    <div class="drag_window">
        <div class="fps-title" onmousedown="drag_object(event, this.parentNode)">Замечание для <b>{{ user.name }}</b></div>
        <div onClick="$('#addWarning_{{ user.id }}').hide()" class="fps-close"></div>
        <div class="fps-cont">
            <form id="warningForm_{{ user.id }}">
                <fieldset>
                    <legend><b>Действие</b></legend>
                    <input type="radio" name="points" value="1">[+] Повысить уровень замечаний<br />
                    <input type="radio" name="points" value="-1">[-] Понизить уровень замечаний(снять бан)<br />
                </fieldset>
                <fieldset>
                    <legend><b>Причина</b></legend>
                    <textarea style="width:96%;" name="cause"></textarea>
                </fieldset>
                <fieldset>
                    <legend><b>Бан</b></legend>
                    <input style="width:50px;margin:2px;" type="text" name="cnt" value="" />
                    <select style="width:80px;margin:2px;" name="mult">
                        <option value="h">Часа</option>
                        <option value="d">Дней</option>
                        <option value="w">Недель</option>
                        <option value="m">Месяцев</option>
                        <option value="y">Лет</option>
                    </select>
                    <br/>
                    <input type="checkbox" name="permanently" value="1" /> Навсегда
                </fieldset>
                <fieldset>
                    <legend><b>Уведомление</b></legend>
                    <input type="checkbox" name="noticepm" value="1" /> Личные сообщения
                </fieldset>
                <fieldset>
                    <input type="button" value="Отправить" onClick="addWarning_({{ user.id }}, 'warningForm_{{ user.id }}');" />
                </fieldset>
            </form>
            <div id="winfomess_{{ user.id }}"></div>
        </div>
    </div>
</div>

