<div class="well">
<div class="row-fluid">
    <h6><span>Правила как правила</span></h6>
     {{ context.rules }}
      <div align="center">  <a class="btn btn-large btn-info pull-right" href="{{ context.reg_url }}">Я согласен</a> </div>
    </div>
</div>