<h1>{{ entity.title }}</h1> {{ entity.moder_panel }}
<div class="share42init pull-right" data-url="{full-link}" data-title="{title}"></div>
<span class="post-meta">Автор: <a href="{{ entity.profile_url }}">{{ entity.author.name }}</a> от {{ entity.date }}, раздел:  <a href="{{ entity.category_url }}">{{ entity.category.title }}</a>, просмотров {{ entity.views }} </span>
<hr class="soften">
<p class="story sep">
   <div class="m20"> <img src="{{ entity.img.url_1 }}" alt="{{ entity.title }}" title="{{ entity.title }}" /></div>
{{ entity.main_text }}</p>
<hr />
    {% if entity.tags %}
    <br /><b>Теги: </b>{% for tag in entity.tags %}<a href="{{ www_root }}/stat/index/{{ tag }}">{{ tag }}</a>; {% endfor %}
    {% endif %}
    {% if entity.sourse %}<br /><b>Источник:</b> {{ entity.sourse }} {% else %}<br /><b>Источник: </b>Не указан{% endif %}
    <hr />
{% if entity.comments == 0 %}
{% else %}
<h6><span>Комментарии</span></h6>
{% endif %}

{{ relmat }}