<!doctype html>
<html>
<head>
<title>{{ title }}</title>

<meta name="description" content="{{ meta_description }}" />
<meta name="keywords" content="{{ meta_keywords }}" />
<meta charset="UTF-8"/>

<meta name='generator' content='Atom-M CMS' />

<link rel="shortcut icon" href="{{ template_path }}/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/style.css" />

<script type="text/javascript" src="{{ www_root }}/data/js/jquery.js"></script>
<script type="text/javascript" src="{{ www_root }}/data/js/atom.js"></script>


<script type="text/javascript" src="{{ template_path }}/js/default.js"></script>

<!-- FancyBOX -->
<link type="text/css" rel="StyleSheet" href="{{ template_path }}/css/fancy.css" />
<script type="text/javascript" src="{{ template_path }}/js/jquery.fancybox.js"></script>
<!--/FancyBOX -->

<script type="text/javascript">
{% if atm_user.id %}
    check_pm();
{% endif %}
</script>
</head>


<body>
<div class="headpanel">
 <div class="linksap">
<div class="activewindow"><a href="#">Язык</a><div class="lang" style="width: 70px;"><span>RUS<br>ENG</span></div></div>
<div><a href="http://atomx.net/users/info/227/" rel="nofollow">Контакты</a></div>
<div><a href="https://bitbucket.org/atom-m/cms" rel="nofollow">Bitbucket</a></div>
<div><a href="http://atomx.net/forum/view_theme/1058" rel="nofollow">Поддержка</a></div></div>
 <div class="userlinksap">
{% if atm_user.id %}
<div><a href="{{ www_root }}/users/pm/">Сообщения</a></div>
<div class="activewindow"><a href="{{ atm_user.profile }}">{{ atm_user.name }}</a><div class="miniprofileadm" style="width: 300px;padding: 10px;{% if fps_admin_access == 1 %}height:120px;{% endif %}">
    <span class="avatarminpro"><img class="avatar" src="{{ atm_user.avatar_url }}" alt=""/></span>
    <span class="uslinkminpro">
        <a href="{{ atm_user.profile }}">Мой профиль</a>
        <a href="{{ www_root }}/users/send_pm_form/">Отправить сообщение</a>
        <a href="{{ www_root }}/users/edit_form/">Настройки</a>
        {% if fps_admin_access == 1 %}
        <a href="{{ www_root }}/admin/" target="_blank">Админка</a>
        {% endif %}
    </span>
</div></div>
<div><a href="{{ www_root }}/users/logout">Выход</a></div>
{% else %}
<div class="ulogin">{{ ulogin }}</div>
<div><a href="{{ www_root }}/users/add_form">Регистрация</a></div>
<div class="activewindow"><a href="{{ www_root }}/users/login_form/">Войти</a>
<div style="width: 250px;"><span>
<form id="mloginForm" action="/users/login/" method="post">
    Логин: <input type="text" class="loginad" name="username">
    Пароль: <input type="password" class="passad" name="password">
    Автовход: <input type="checkbox" name="autologin" value="1">
    <button type="submit" onclick="sendu(this); return false" class="buttonadm">ВОЙТИ</button>
    <input type="hidden" value="submit" name="submitForm">
</form>
</span></div></div>
{% endif %}
<div><a href="{{ www_root }}/users/">Пользователи</a></div>
 </div>
</div>
<div class="global">
<div class="header">
   <div class="logohead"></div>
   <div class="infohead">
     <div class="infoblock">
       <div class="download">
         <a class="downloadbutton" href="https://bitbucket.org/atom-m/cms/get/current.zip" target="_blank" rel="nofollow">
           <div><div class="nameload">DOWNLOAD ATOM-M</div>
           <div class="infoload">FILE IS 4.7MB(.ZIP)</div></div>
         </a>
         <a class="ahother" href="https://bitbucket.org/atom-m/cms/downloads" rel="nofollow">Cкачать другие версии Atom-M</a>
         <a class="knownot" href="https://bitbucket.org/atom-m/cms/wiki/%D0%A3%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BA%D0%B0_%D0%B8_%D0%BE%D0%B1%D0%BD%D0%BE%D0%B2%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5#markdown-header-_1" rel="nofollow">Не знаете как установить?</a>
       </div>
       <div class="info1"><b>Atom-M CMS</b> - Это инструмент для создания сайтов любой сложности, людьми не имеющими профессиональных навыков. Множество готовых шаблонов позволят выбрать вам подходящий дизайн. И это все абсолютно БЕСПЛАТНО!</div>
       <div class="info2">
       <div class="l">
       50+<br>
       15+<br>
       5000+<br>
       5 лет<br>
       100+
       </div>
       <div class="r">
       Шаблонов<br>
       Модулей<br>
       Пользователей<br>
       Разработки<br>
       Дополнений
       </div>
       </div>
     </div>
     <div class="sots">
       <a href="https://bitbucket.org/atom-m/cms/wiki/">ДОКУМЕНТАЦИЯ</a>
       <a href="http://atomx.net/loads/category/5/">ШАБЛОНЫ</a>
       <a href="http://atomx.net/forum/view_theme/362/">СНИППЕТЫ</a>
       <a href="http://atomx.net/forum/view_forum/38/">ПЛАГИНЫ</a>
       <a href="http://atomx.net/forum/view_forum/2/">МОДУЛИ</a>
     </div>
   </div>
</div>

<div class="sider">
    <div class="sidertop bigmenu">
      {{ mainmenu }}
      <div class="search">
       <form method="POST" action="{{ www_root }}/search/"> 
        <input type="hidden" name="subaction" value="search"> 
        <input name="search" placeholder="Найти что-нибудь..." type="text"> 
        <input value="GO!" type="submit" name="send"> 
       </form> 
      </div>
    </div>
    <!---------------------------------------------------------------------------CONTENT/----------------------------------------------------------------------------------------------->
    <div class="content">
<div class="spedbar">
    <div>
        {{ navigation }}
    </div>
</div>

<div class="material">
      <div class="mat-title"><span id="switchsound"></span><h1>Общий чат</h1></div>
      <div class="mat-content">
      {{ content }}
      </div>
</div>
<style type="text/css">
#bigformlink {display:none;}
.scrollBox {padding: 10px 8%;background: rgba(255, 224, 0, 0.08);border-bottom: 1px solid #bbb;}
#chatModule {min-height: 100px;}
#chat {height: 320px;}
#chat .block_chat {padding: 10px!important;font-size: 16px!important;}
#chat .mess {padding-top: 10px!important;font-size: 14px!important;}
.chat-addfrom .chat_captcha {white-space: normal;height: auto;margin: 18px;padding: 0;width: 122px;text-align: center;}
.chat-addfrom .chat_captcha input {display: block;margin: 3px -3px 10px;width: 120px;}
.chat-addfrom input[type="submit"] {margin: 0 10px;}
#chat .jspVerticalBar {width: 15px;}
</style>

    <div class="material">
           <div class="inftitle">Сейчас online: {{ all_online }}. Зарегистрированных: {{ users_online }}. Гостей: {{ guests_online }}. </div>
           <div class="infcont">{{ online_users_list }}</div>
        </div>
    </div>
    <!---------------------------------------------------------------------------/CONTENT----------------------------------------------------------------------------------------------->
</div>
<!--------------------------------------------------------FOOTER-BUTTONS------------------------------------------------------------------>
<div class="footer">
<div class="people"><span>Сообщество</span>{{ mainmenu }}</div>
<div class="support"><span>Поддержка</span>
<a href="#">Пользовательское соглашение</a>
<br><a href="https://bitbucket.org/atom-m/cms/wiki/" rel="nofollow">Документация</a>
<br><a href="#">Правила сайта</a>
<br><a href="#">Заказать рекламу</a>
<br><a href="{{ www_root }}/sitemap.xml">Карта сайта</a>
</div>
<div class="faposcms"><span>Atom-M CMS</span>
<a href="https://bitbucket.org/atom-m/cms/downloads/" rel="nofollow">Скачать CMS</a>
<br><a href="https://bitbucket.org/atom-m/cms/wiki/%D0%92%D0%B8%D0%B4%D0%B5%D0%BE%D1%83%D1%80%D0%BE%D0%BA%D0%B8_Fapos_CMS" rel="nofollow">Видео-руководство</a>
<br><a href="https://bitbucket.org/atom-m/cms/issues/" rel="nofollow">Сообщить о баге</a>
</div>
<div style="float: right;padding: 0;">
<div class="socnet" style="display:block;">
<a href="https://vk.com/atomm_cms" target="_blank" class="vk" title="ВКонтакте" rel="nofollow"></a>
<a href="https://twitter.com/AtomM_CMS" target="_blank" class="twitter" title="Twitter" rel="nofollow"></a>
<a href="https://www.facebook.com/fapos" target="_blank" class="fb" title="Facebook" rel="nofollow"></a>
<a href="#" target="_blank" class="goplus" title="Google Plus" rel="nofollow"></a>
<!--<a href="#" class="github" title="GitHub" rel="nofollow"></a>-->
<a href="https://bitbucket.org/atom-m/cms" target="_blank" class="bitbucket" title="BitBucket" rel="nofollow"></a>
<a href="#" target="_blank" class="youtube" title="YouTube" rel="nofollow"></a>
<a href="#" target="_blank" class="skype" title="Skype" rel="nofollow"></a>
<span class="rss">
   <div>
      <a href="{{ www_root }}/news/rss/" target="_blank" title="RSS - Новости" rel="nofollow">Новости</a>
      <a href="{{ www_root }}/stat/rss/" target="_blank" title="RSS - Статьи" rel="nofollow">Статьи</a>
      <a href="{{ www_root }}/forum/rss/" target="_blank" title="RSS - Форум" rel="nofollow">Форум</a>
      <a href="{{ www_root }}/loads/rss/" target="_blank" title="RSS - Файлы" rel="nofollow">Файлы</a>
      <a href="{{ www_root }}/foto/rss/" target="_blank" title="RSS - Фотографии" rel="nofollow">Фото</a>
   </div>
</span>
</div>
<div>Generated by Atom-M CMS<br>Powered by boriska © 2013</div>
</div>
<noindex style="float:right;"><img src="{{ counter }}" alt=""/></noindex>
</div>
</div>
</body>
</html>
