{{ editor_body }}
<div class="addcomment">
  <form method="POST" id="sendForm" name="sendForm" action="{{ data.action }}" onsubmit="sendu(this);return false;">
<h6><span class="inftitle">Добавить комментарий</span></h6>
<input type="text" name="reply" value="{{ data.reply }}" style="display: none" />
<div class="row-fluid ">
   <div class="span12 well">
      {% if atm_user.id == 0 %}
      <div class="controls controls-row">
      
         <input id="name" {{ data.disabled }} type="text" name="login" size="47" value="{{ data.add_comment_name }}" type="text" class="span4" placeholder="Ваше имя"> 
        
      </div>
      {% endif %}
      <div class="controls">
             <textarea {{ editor_text }} name="message" >{{ data.add_comment_message }}</textarea> 
      </div>
      <div class="controls">
        <a class="canselReplyComment" onClick="canselReplyComment()" style="padding-right: 10px; display: none">Отменить</a> <input type="submit" name="send" class="btn btn-large btn-info pull-right" value="Отправить" />

      </div>
      {% if data.add_comment_captcha %}
      <div class="controls">
      <span >{{ data.add_comment_captcha }}</span>
      </div>
      {% endif %}
      <p>Запрещено использовать не нормативную лексику, оскорбление других пользователей данного сайта, активные ссылки на сторонние сайты, реклама в комментариях.</p>
   </div>
</div>
  </form>
  </div>