{% if entities %}
<!-- Шаблон выводит материалы, для телефонов -->
{% for entity in entities %}

<div class="sep">
<h2 class="short"><a href="{{ entity.entry_url }}">{{ entity.title }}</a> </h2>
<span class="pull-right">{{ entity.moder_panel }}</span>
<span class="meta">Автор: <a href="{{ entity.profile_url }}">{{ entity.author.name }}</a> от {{ entity.date }}, просмотров {{ entity.views }}, <a href="{{ entity.category_url }}">{{ entity.category.title }}</a> </span>
<hr class="soften">
     <div class="m20"> <img src="{{ entity.img.url_1 }}" alt="{{ entity.title }}" title="{{ entity.title }}" /></div>

<p class="story ">{{ entity.announce }}</p>
<a class="btn btn-info" href="{{ entity.entry_url }}">Подробнее  <span class="entypo-comment active"></span> {{ entity.comments }}</a>

</div>

{% endfor %}
{% else %}
<div class="alert alert-error">
Материалов еще не добавлено.
</div>
{% endif %}
