 <h6><span>Поиск по сайту</span></h6>
 <form action="{{ context.action }}" method="POST">
<div class="material">
       <div class="inftitle">Поиск по материалам</div>
       <div class="infcont">
            <input type="text" class="span6" value="{{ context.search }}" name="search" style="width:82%;" />
            <input  type="submit" class="btn btn-info" value="Искать" name="send" style="position:relative;bottom:5px;" />
            <br /><br />
       <b>Искать в:</b>
            <br />
            <div class="search_label"><input id="smdforum" type="checkbox" value="forum" name="m[]" {{ context.forum }}>
            <label for="smdforum">Форум</label>

            <input id="smdnews" type="checkbox" value="news" name="m[]" {{ context.news }}>
            <label for="smdnews">Новости</label>

            <input id="smdstat" type="checkbox" value="stat" name="m[]" {{ context.stat }}>
            <label for="smdstat">Статьи</label>

            <input id="smdloads" type="checkbox" value="loads" name="m[]" {{ context.loads }}>
            <label for="smdloads">Загрузки</label>
              </div>
       </div>
</div>
</form>

