{% if commentsr %}

             {% for comment in commentsr %}
             <div  class="comment_tree" style="padding-left: {{ comment.lvl * 5 }}%">
                   <div class="row-fluid">
   <div class="span2 visible-desktop">
      <div class="wrapper">
        {{ comment.avatar }}
         <div class="description6">
            <div class="description_content">
          
            </div>
         </div>
      </div>
   </div>
   <div class="span10">
     {% if comment.moder_panel %}
      <span class="post-meta pull-right">
         <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="entypo-cog "></span>
            </a>
            <ul class="dropdown-menu comm pull-right" role="menu" aria-labelledby="dLabel">
               {{ comment.moder_panel }}
            </ul>
         </div>
      </span>
       {% endif %}
       {% if comment.entry_url %}
     <h4 class="sep"><a href="{{ comment.entry_url }}" class="button2">Перейти к материалу...</a></h4>
      {% endif %}
      <span class="post-meta"><strong>{{ comment.name_a }} <span style="font-size:10px;color:{{ comment.user_group_color }}">( {{ comment.user_group }} )</span></strong>{% if comment.editdate %} от  {{ comment.editdate }} {% else %} от {{ comment.date }} {% endif %} </span>
      <p> {{ comment.message }}</p>
      <span class="post-meta">
      
      
    
    
                    {% if config(['comments_tree']) %}
                        <a onClick="replyComment(this, {{ comment.id }}, '{{ comment.name }}');" title="ответить" >Ответить <span class="entypo-quote"></span> </a>
                    {% else %}
                        <a href="#editor" title="ответить" onClick="$('#editor').insertAtCursor('<b>{{ comment.name }}</b>, ', false); return false;">Ответить <span class="entypo-quote"></span> </a>
                    {% endif %}
    </span>
    
   </div>
</div>
<hr class="soften">
</div>
             {% endfor %}

{% endif %}