 <!-- Меню навигации -->
      <div data-spy="affix" data-offset-top="365" class="visible-desktop navbar navbar-fixed-top">
         <div class="navbar-inner">
            <div class="container ">
               <a class="brand pt25" href="/">Atomm 4</a>
               <ul class="nav pt pull-right">
                  <li class="">
                     <a href="/news">Новости</a>
                  </li>
                  <li class="">
                     <a href="/loads/">Файлы</a>
                  </li>
                  <li class="">
                     <a href="/stat/">Статьи</a>
                  </li>
                  <li class="dropdown">
                     <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Рестораны <b class="caret"></b></a>
                     <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Дополнительная категория</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Дополнительная категория</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Дополнительная категория</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Дополнительная категория</a></li>
                     </ul>
                  </li>
                  <li class="">
                     <a href="#">Информация</a>
                  </li>
                  <li class="">
                     <a href="#">Компьютеры</a>
                  </li>
                  <li class="">
                     <a href="#">Спорт</a>
                  </li>
                  <li class="">
                     <a href="#">Рецепты</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
      <!-- Меню навигации для мобильной версии-->
      <div class="jumbotron-mob hidden-desktop">
         <div class="container">
            <a class="brand pt25" href="#">Atomm templates v 4</a>
            <ul class="nav pt ">
               <li class="dropdown">
                  <a id="drop1" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">Навигация<b class="caret"></b></a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                     <li role="presentation"><a role="menuitem" tabindex="-1" href="/news/">Новости</a></li>
                     <li role="presentation"><a role="menuitem" tabindex="-1" href="/loads/">Файлы</a></li>
                     <li role="presentation"><a role="menuitem" tabindex="-1" href="/stat/">Статьи</a></li>
                     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Фотоальбом</a></li>
                     <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Форум</a></li>
                  </ul>
               </li>
            </ul>
          {{ navigation }}
         </div>
      </div>
      <!-- Карусель -->
      
       {% if action == 'index' %}
       {{ popmat }}
     
     {% else %}
     
      <!-- Кнопка авторизации в разделах -->
      <div class="jumbotron visible-desktop">
         <div class="container">
            <div class="pull-right">
             {% if atm_user.id %}
              <a data-toggle="modal" href="#myModal"><span class="icon-cog icon-white" style="margin-top: 1px;"></span> Профиль</a>
             {% else %}
               <a data-toggle="modal" href="#myModal"><i class="icon-user icon-white" style="margin-top: 1px;"></i> Вход </a>
             {% endif %}
            </div>
          {{ navigation }}
         </div>
      </div>
        {% endif %}
      <!-- /.carousel -->
    