{% if atm_user.id %}
<div class="modal-body">
<ul style="list-style-type: none;">
<li class="pull-right"><a href="{{ atm_user.profile }}"><img  src="{{ atm_user.avatar_url }}" alt="{{ atm_user.name }}" /></a></li>            
<h4>{{ atm_user.name }}</h4>                
<li><a href="{{ atm_user.profile }}">Профиль</a></li>
<li>{{ add_link }}</li>
<li><a href="{{ www_root }}/users/edit_form/">Настройки</a></li>
<li class="lvsep"><a class="radial" href="{{ www_root }}/users/pm/">{{ atm_user.unread_pm }}</a><a href="{{ www_root }}/users/pm/">&nbsp;Сообщений</a></li>
</ul>
<br />
</div>
<div class="modal-footer">
{% if fps_admin_access == 1 %}<a href="{{ www_root }}/admin/" class="btn blue" target="_blank">Админ.панель</a>{% endif %}
<a href="{{ www_root }}/users/logout" class="btn red">Выход</a></div>

{% else %}
<div style="padding-left: 25px;" class="modal-body">
<form id="mloginForm" name="mloginForm" class="form-inline" action="/users/login/" onClick="sendu(this); return false" method="post">
<input type="text" name="username" id="login_name" class="input-small" style="margin-top: -2px;" placeholder="Логин">
<input type="password" name="password" id="login_password" style="margin-top: -2px;"  class="input-small" placeholder="Пароль">

<button style="margin-top: -2px;" type="submit" class="btn btn-info" >Войти</button>
<input type="hidden" value="submit" name="submitForm">
</form>
</div>
<div class="modal-footer">
<a href="{{ www_root }}/users/new_password_form/" class="btn red">Забыли пароль?</a>
<a href="{{ www_root }}/users/add_form" class="btn blue">Регистрация</a>
</div>

{% endif %}