{% if mats %}

<div id="myCarousel" class="carousel slide visible-desktop">
<div class="carousel-inner shad cn">
{% for mat in mats %}
<div class="item">
<!-- Первая новость карусели -->
<div class="container"> <div class="carousel-caption">
<h1><a href="{{ mat.url }}">{{ mat.title }}</a></h1>
<p class="lead">{{ mat.main }}</p>
<a class="btn btn-large btn-info " href="{{ mat.url }}">Узнать больше </a>
</div>
</div>
</div>
{% endfor %}
</div>
<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="entypo-left-open-big"></span></a>
<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="entypo-right-open-big"></span></a>
</div>
{% endif %}